ENV=local


DB_USER=sso
DB_PASSWORD=pass111
DB_NAME=ssob2
DB_HOST=postgres
DB_PORT=5432

JWT_SECRET=test

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=test@gmail.com
MAIL_PORT=1025
MAIL_SERVER=mailhog


GOOGLE_CLIENT_ID=491519966748-hn3gosppk2v0ul380h42j7u34mg5p28h.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
REDIRECT_URL=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
FRONT_API=
AWS_DEFAULT_REGION=eu-north-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
MODELS_PATH=


CELERY_BROKER_URL=redis://redis:6379/0

SENTRY_DSN=

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=mZ2Wf7VLG0
MINIO_ACCESS_KEY=ibuxhkhHFfS3bZyu1kQT
MINIO_SECRET_KEY=xjxZLcpm4HzYt7B63tRhsudSW2Evqu7JaHmGExJZ
MINIO_PORT=9000
MINIO_HOST=minio

SLACK_TOKEN=xoxb-6325504115346-6325566076738-aPyTBrRlxo3VYXvGs0YszO5l
